__pycache__/*
/scikit-image/*
ytb.db
geckodriver.log
main.spec
ytb_up.egg-info
*.sqlite
test-results/*
assets/videos/*
build/*
dist/*
screen-recording/*
venv/*
*.sqlite3
*.DS_Store
assets/config/hints-we use this as setting file name,you should change it.json
Airline-Management-System
test.log
**/.DS_Store
.DS_Store
tests/videos/*/.png
tests/videos/*/16-9/*
**/__pycache__/*
tests/videos/horizon/9-16/*
tests/videos/horizon/16-9/*
tests/videos/vertical/9-16/*
tests/videos/vertical/16-9/*
build